@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  background: #0d0e10;
  color: rgba(255, 255, 255, 0.9);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",sans-serif;
}

body.out {
  transform: translateY(-3rem) scale(0.95);
  opacity: 0;
  transition: all .2s ease;
}
