---
import "../styles/base.css";
import Card from "../components/IntroCard.js";
---

<div class="flex justify-around h-screen p-2">

  <Card name="Viktor" />
  <Card name="Anita" />
  <Card name="Aleksey" />

</div>
