.card { 
  display: flex; 
  flex-direction: column;
  flex: 1 1 0%;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0);
  border-radius: 2rem;
}

.card:hover {
  background: rgba(0, 0, 0, .1);
  transition: background .3s cubic-bezier(0.22, 0.28, 0.54, 0.34);
}

.title {
  transform: scale(0.9);
}
.more {
  visibility: hidden;
  color: rgba(200, 200, 200, 0);
  font-weight: 200;
}
.arrow {
  fill: rgba(200, 200, 200, .5);
  width: 3rem;
  transform: scale(0.9);
}

.card:hover .title {
  transition: transform 0.1s cubic-bezier(0.22, 0.28, 0.54, 0.34);
}
.card:hover .arrow {
  transform: translateY(1rem);
  fill: rgba(200, 200, 200, .9);
  transition-property: transform fill;
  transition: .1s cubic-bezier(0.22, 0.28, 0.54, 0.34);
}
.card:hover .more {
  visibility: visible;
  color: rgba(255, 255, 255, 1);
  transition: color .1s cubic-bezier(0.22, 0.28, 0.54, 0.34);
}
